Requires-Dist: contextlib2
Requires-Dist: ninja
Requires-Dist: jinja2
Requires-Dist: rich
Requires-Dist: paramiko
Requires-Dist: tqdm
Requires-Dist: loguru
Requires-Dist: pyjava >=0.6.21
Requires-Dist: fastapi
Requires-Dist: uvicorn
Requires-Dist: retrying
Requires-Dist: zhipuai
Requires-Dist: dashscope
Requires-Dist: tiktoken
Requires-Dist: tabulate
Requires-Dist: jupyter-client
Requires-Dist: prompt-toolkit
Requires-Dist: tokenizers
Requires-Dist: aiofiles
Requires-Dist: readerwriterlock
Requires-Dist: byzerllm[saas] >=0.1.196
Requires-Dist: patch
Requires-Dist: diff-match-patch
Requires-Dist: GitPython
Requires-Dist: openai >=1.14.3
Requires-Dist: anthropic
Requires-Dist: google-generativeai
Requires-Dist: protobuf
Requires-Dist: azure-cognitiveservices-speech
Requires-Dist: real-agent
Requires-Dist: duckdb
Requires-Dist: python-docx
Requires-Dist: docx2txt
Requires-Dist: pdf2image
Requires-Dist: docx2pdf
Requires-Dist: pypdf
Requires-Dist: pyperclip
Requires-Dist: colorama
Requires-Dist: pylint
Requires-Dist: reportlab
Requires-Dist: pathspec
Requires-Dist: openpyxl
Requires-Dist: python-pptx
Requires-Dist: watchfiles
Requires-Dist: cairosvg
Requires-Dist: matplotlib
Requires-Dist: mammoth
Requires-Dist: markdownify
Requires-Dist: pdfminer.six
Requires-Dist: puremagic
Requires-Dist: pydub
Requires-Dist: youtube-transcript-api
Requires-Dist: SpeechRecognition
Requires-Dist: pathvalidate
Requires-Dist: pexpect
Requires-Dist: setuptools
Requires-Dist: filelock
Requires-Dist: argcomplete
Requires-Dist: psutil
Requires-Dist: patch-ng
Requires-Dist: firecrawl
Requires-Dist: mcp ; python_version >= "3.10"
